	<footer class="row pt-5">
        <div class="col-12">
            <p class="text-center text-primary h5">MoneyTracker app - &copy; by group &forall;</p>
        </div>
    </footer>
</div>
</body>
</html>