<div class="container">
    <header class="row">
        <h5 class="col-10 month text-dark text-left m-auto"></h5>
        <h5 class="col-2"><i class="fas fa-user fa-md text-danger"></i> Personal</h5>
        <nav class="navbar row col-md-12 text-center">
            <ul class="nav col-12 bg-dark">
                <li class="nav-item col">
                    <a class="nav-link text-light" href="#"><i class="fas fa-search-dollar fa-2x"></i></a>
                    <h5 class="text-center text-light">Spending</h5>
                </li>
                <li class="nav-item col">
                    <a class="nav-link text-light" href="#"><i class="far fa-list-alt fa-2x"></i></a>
                    <h5 class="text-center text-light">Transactions</h5>
                </li>
                <li class="nav-item col">
                    <a class="nav-link text-light" href="categories.html"><i class="fas fa-hdd fa-2x"></i></a>
                    <h5 class="text-center text-light">Categories</h5>
                </li>
                <li class="nav-item col">
                    <a class="nav-link text-light" href="#"><i class="fas fa-users fa-2x"></i></a>
                    <h5 class="text-center text-light">Accounts</h5>
                </li>
            </ul>
        </nav>
    </header>