

*{
	margin: 0;
	padding: 0;
}
html,
body {
	font-size: 100%; 
	font-family: inherit;
	font-family: 'Coiny', cursive;
	font-size: 1rem;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://i.pinimg.com/originals/06/2b/7f/062b7fb9cfd2a6351f4e0850c1e1ed50.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.letter{
	letter-spacing: .3rem;
}
.coloring-text {
	background-image: linear-gradient(to right,#3f51b5, #83d8ff);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 1px;
	word-spacing: .5rem;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
	}
