<section class="row">
    <div class="btn-group mx-auto my-4">
        <button class="btn btn-outline-success btn-lg" type="button" id="exp"><a href="exp" class="nav-link text-success">Expense</a></button>
        <button class="btn btn-outline-success btn-lg" type="button"><a href="inc" class="nav-link text-success">Income</a></button>
    </div>
</section>