<% include ../partials/header %>
<% include ../partials/navbar %>
<article id="chart" class="d-flex pt-5 justify-content-around row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="divChart">
        <h4 class="text-center text-danger py-2 font-weight-bold">Expenses</h4>
        <div id="myChart" class="col-12"></div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="divChart2">
        <h4 class="text-center text-success py-2 font-weight-bold">Income</h4>
        <div id="myChart2" class="col-12"></div>
    </div>
</article>
<article id="chart2" class="d-flex pt-5 justify-content-around row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="divChart3">
        <h4 class="text-center text-info py-2 font-weight-bold">Overall transactions</h4>
        <canvas id="myChart3" class="col-12"></canvas>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8" id="divChart4" >
        <h4 class="text-center text-info py-2 font-weight-bold">Chart of incomes and expenses</h4>
        <div id="myChart4" class="col-12"></div>
    </div>
</article> 
<script src="/assets/js/chart.js"></script>
<% include ../partials/footer %>