<% include ../partials/header %>

<div class="row">
	<p class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ad, omnis totam iusto quia? Excepturi itaque quaerat quia unde delectus rem error, dignissimos, in iusto dolores vero quos corrupti at.</p>
</div>
<% include ../partials/footer %>

<script>
	$(document).ready(function() {
		let table = $('myTable').DataTable();
		console.log(table)
	})
</script>