<% include ../partials/header %>
<div class="col-md-12">
    <h1 class="text-center animated bounce font-weight-bold pt-4 coloring-text">Money Tracker for <p class="month"></p></h1>
</div>
<section class="row">
    <aside class="col-4 offset-1 bg-info p-1">
        <table id="myTable" class="table text-primary">
            <thead>
                <tr>
                    <th>Categories</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </aside>
    <aside class="col-6 bg-info p-1">
        <div class="text-primary">
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil veniam doloribus molestias neque, libero ducimus quia iste, voluptatem totam illum a temporibus fuga ullam, necessitatibus sunt quas sit ipsa aliquam.</p>
        </div>
    </aside>
</section>
<% include ../partials/footer %>