<% include ../partials/header %>

<div class="col-md-12">
	<h1 class="text-center animated bounce font-weight-bold pt-4 coloring-text">Money Tracker for <p class="month"></p></h1>
</div>
<!-- <section class="row" id="btnCenter">
    <div class="btn-group " id="middle" >
        <a href="add" id="btnLg" class="btn border p-3">Add your spending</a>
    </div>
</section> -->
<section>
	<table id="myTable" class="table">
		<!-- <ul class="nav nav-pills flex-column bg-info border border-primary rounded">
                <% print.forEach(function(name){ %>
                    <li class="nav-item m-2 border-bottom" data-toggle="tooltip" data-placement="top" title="Click for more details"><a class="nav-link text-light d-inline" href=""><%= name.categories_name %></a><span><%= name.transactions_amount %></span></li>
                <% }) %></ul> -->
	</table>
</section>