<% include ../partials/header %>
<script>
    $(document).ready(function() {
        var myTable = $('#tabledata').DataTable();
    })
</script>
<div class="col-md-12">
    <h1 class="text-center animated bounce font-weight-bold p-5 coloring-text">Money Tracker for <p class="month"></p></h1>
</div>
<section class="row">
    <aside class="col-5 bg-info m-auto p-3">
        <div class="table-wrapper-scroll-y p-3">
    <table id="tabledata" class="table table-striped p-3">
        <thead class="font-weight-normal">
            <tr class="text-primary">
                <th>
                    Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(name){ %>
            <tr>
                <td>
                    <%= name.main_date%>
                </td>
                <td>
                    <%= name.categories_name %>
                </td>
                <td>
                    <%= name.transactions_amount %>
                </td>
                <td>
                    <%= name.main_comment %>
                </td>
            </tr>
            
            <% }) %>
        </tbody>
    </table>
</div>
    </aside>
    <aside class="col-5 bg-info m-auto p-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quos cumque distinctio impedit eos quasi tenetur optio accusantium. Neque incidunt, laborum soluta similique consequuntur. Praesentium eius modi reiciendis quas tenetur.</p>
    </aside>
</section>

<% include ../partials/footer %>