<% include ../partials/header %>

<section class="row">
    <div class="btn-group mx-auto">
        <button class="btn btn-dark btn-lg" type="button">Expense</button>
        <button class="btn btn-outline-dark btn-lg" type="button">Income</button>
    </div>
</section>
<section class="row">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <form action="#">
            <div class="form-group">
                <span class="text-center">Categories</span>
                <span><%= name %></span>
            </div>
        </form>
    </div>
</section>

<% include ../partials/footer %>