<% include ../partials/header %>
<div class="col-md-12">
    <h1 class="text-center animated bounce font-weight-bold pt-4 coloring-text">Money Tracker for <p class="month"></p></h1>
</div>
<section class="row">
    <aside class="col-8 offset-2 bg-info p-2">
        <table id="myTable" class="table text-primary">
            <thead>
                <tr>
                    <th>Categories</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </aside>
</section>

<% include ../partials/footer %>