<% include ../partials/header %>
<script>
    $(document).ready(function() {
        $('#show').hide();
      $('#send').click(function(e){
          e.preventDefault();
          var selectedDate = $('#date').val();
          var category = $("#category option:selected" ).val();
          var number = $('#number').val();
          var message = $('#message').val();

          var data = {};
          data.selectedDate = selectedDate;
          data.category = category;
          data.number = number;
          data.message = message;

          console.log(selectedDate,category,number,message)

          $.ajax({
            type: 'post',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:4200/addingNewInput',
            success: function(data) {
              console.log('success');
              console.log(JSON.stringify(data));
              }
            })
          $('#show').show();
            let delay = 1500; 
            let url = 'http://localhost:4200/add';
            setTimeout(function(){ window.location = url }, delay);
        })
});
</script>
<div class="row text-center m-5" id="show">
  <div class="col m-auto">
    <p class="display-3 text-info">New transaction successfully saved</p>
  </div>
</div>
<div class="row">
    <div class="col-12 text-center pt-5">
        <h1 class="display-4 font-italic text-success">Adding new transaction</h1>
    </div>
    <div class="col-4 offset-4 p-5 text-light">
        <form action="/newInput" method="POST">
            <div class="form-group">
                <label for="date">Select date</label>
                <input class="form-control" type="date" id="date">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category">
                    <% print.forEach(function(name){ %>
                    <option value="<%= name.categories_id %>"><%= name.categories_name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="nubmer">Amount</label>
                <input class="form-control" type="number" id="number">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
            <button class="btn btn-primary btn-block mt-3" type="submit" id="send">Submit</button>
        </form>
    </div>
</div>


<% include ../partials/footer %>