<% include ../partials/header %>
<script>
    $(document).ready(function() {
    $('#tabledata').DataTable();
} );

    </script>

 <div class="text-center text-light">
    <h1>Transactions</h1>
</div>
<form class="p-3">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="transactions" class="btn btn-primary btn-lg nav-link text-light">All</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="btnexp" class="btn btn-danger btn-lg nav-link text-light">Expense</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="btninc" class="btn btn-success btn-lg nav-link text-light">Income</a>
        </div>
    </div>
</form>
<div class="table-wrapper-scroll-y divdt p-3">
    <table id="tabledata" class="table table-striped txttbl p-3" cellspacing="0">
        <thead class="font-weight-normal">
            <tr class="text-primary">
                <th>
                    Category
                </th>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            <% obj.forEach(function(name){ %>
            <tr>
                <td>
                    <%= name.categories_name %>
                </td>
                <td>
                    <%= name.main_date%>
                </td>
                <td>
                    <%= name.transactions_amount %>
                </td>
                <td>
                    <%= name. main_comment %>
                </td>
                <td>
                       <button>Delete</button>
                </td>
            </tr>
            
            <% }) %>
        </tbody>
    </table>
</div>
<% include ../partials/footer %>